/*main color #da5fbf
 da5fbf82*/

/*Login form*/
.login-form{
	background:#F9F9F9;
	width:800px;
	height:460px;
	margin:0 auto;
	margin-top: calc(50vh - 230px);
	border-radius:10px;
	padding:20px;

}
.login-form-part{
	display: table;
	height:377px;
	width:90%;
	padding-left:10%;
}
.login-form-part-content{
	display:table-cell;
	vertical-align: middle;
}
.col-md-6 + .col-md-6 .login-form-part{
	border-left:solid 1px #DDD;
}

@media (max-width: 805px){
	.max-window-height{
		min-height:100%;
	}
	.login-form{
		width:96%;
		height:auto;
		margin: 20px auto;
		border-radius:5px;
		padding:10px;

	}
	.login-form-part{
		display: block;
		height:auto;
		width:100%;
		padding-left:0;
	}
	.login-form-part-content{
		display:block;
	}
	.col-md-6 + .col-md-6 .login-form-part{
		border-left:none;
	}
	.login-container .row{
		margin: 0;
	}
}
@media (max-width: 767px){
	.login-form{
		max-width:400px;
	}

	.login-form-part:first-of-type{
		margin-bottom:200px;
	}
	.col-md-6 + .col-md-6 .login-form-part{
		margin-bottom: 40px;
	}
}