<div class="notify-item" id="cookie-notify">
    <div class="notify-close" onclick="hideCookieInformation(this)">X</div>
    <p><strong>Ta strona używa ciasteczek!!</strong></p>
    <p>Używamy ciasteczek, aby ta strona mogła poprawnie działać.</p>
</div>